.input {
    display: flex;
    width: 60%;
    position: relative;
    align-items: center;
    padding: 0px 20px 12px;
}

.input_box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 70px 20px 20px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
    justify-content: center;

}

.input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input_submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 25px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.input_submit:hover {
    background-color: #388ae2;
}

.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}

@media (max-width: 1290px) {
    .input {
        width: 70%;
    }


    .input_submit {
        right: 18px;
    }
}

@media (max-width: 1100px) {
    .input {
        width: 70%;
    }

    input_box {
        padding-right: 100px;
    }

    .input_submit {
        right: 20px;
    }
}

@media (max-width: 700px) {
    .input {
        width: 100%;
    }

    input_box {
        padding-right: 70px;
    }

    .input_submit {
        right: 20px;
    }
}