.container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.tasks__active {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(201 247 250);
    width: 100%;
}

.tasks__completed {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(212, 217, 218);
    width: 100%;

}


@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}