.task__item {
    /* width: 100%; */
    /* display: flex; */
    border-radius: 5px;
    padding: 10px;
    margin: 2% 5%;
    background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, rgb(87, 232, 107) 100.2%);
    transition: 0.2s;
}

.task__item:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}

.task__item--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.task__item--size {
    width: 99%;
    max-height: 150px;
    overflow: auto;
}

.task__item--text:focus {
    outline: none;
}

.icon {
    float: right;
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
}

.icon--align {
    vertical-align: top;
}

/* @media (max-width: 1024px) {
    .task__item {
        width: 95%;
    }
} */